.search.block {
  background: #AFCDE7;
  color: white;
  box-shadow: 5px 5px 15px 5px #000000;
  padding: 0.5em;
}

.search.grid-container {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 0.5fr;
  gap: 2px 2px;
  grid-template-areas:
    "Header Header"
    "Settings Settings"
    "Apply Cancel";
}

.search.Header { grid-area: Header; margin: 0%;}
.search.Settings { grid-area: Settings;}
.search.Apply { grid-area: Apply;}
.search.Cancel { grid-area: Cancel;}