.search.block {
  background: #AFCDE7;
  color: white;
  box-shadow: 5px 5px 15px 5px #000000;
  padding: 0.5em;
}

.search.grid-container {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr auto auto 0.5fr auto 0.5fr;
  gap: 2px 2px;
  grid-template-areas:
    "Header Header";
}

.search.Header { grid-area: Header; }